@model EO.Application.ViewModels.InputModels.SolicitacaoEmprestimo.CriarSolicitacaoEmprestimo


<h1>Nova Solicitação de Empréstimo</h1>

<hr/>

<div class="row">
    <div class="col-md-10">
        
        <div asp-validation-summary="All"></div>

        <section>
            <form id="criarSolicitacao" method="post" asp-action="CriarSolicitacao">

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="@Model.Valor"></label>
                        <div class="input-group ">
                            <div class="input-group-prepend">
                                <span class="input-group-text">R$</span>
                            </div>
                            <input asp-for="@Model.Valor" class="form-control monetario"/>
                        </div>
                        <span asp-validation-for="@Model.Valor" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="@Model.Parcelas"></label>
                        <div class="input-group ">
                            <div class="input-group-prepend">
                                <span class="input-group-text">R$</span>
                            </div>
                            <input type="number" asp-for="@Model.Parcelas" class="form-control"/>
                        </div>
                        <span asp-validation-for="@Model.Parcelas" class="text-danger"></span>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">
                    Criar
                </button>
            </form>

        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
